@using Chatbot.BusinessLayer.Models
@model IEnumerable<PluginConfiguration>

@{
    ViewBag.Title = "Index";
}

<h2>Plugin-Konfiguration - Übersicht</h2>

<p>
    @Html.ActionLink("Eintrag hinzufügen", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Key)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Key)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.ActionLink("Bearbeiten", "Edit", new { name=item.Name, key=item.Key }) |
            @*@Html.ActionLink("Details", "Details", new { name = item.Name, key = item.Key }) |*@
            @Html.ActionLink("Löschen", "Delete", new { name = item.Name, key = item.Key })
        </td>
    </tr>
}

</table>
